.h1_title {
    font-weight: normal;
    font-size: 37px;
    margin-bottom: 32px;
    text-align: center;
  }

  .p_deskripsi {
    font-weight: normal;
    font-size: 21px;
    margin-bottom: 32px;
    text-align: center;
  }