* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .todo_body {
    background-color: white;
    color: #202124;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
  }
 